<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyNoteApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyNote"
        tools:targetApi="31">
        <activity
            android:name=".ui.features.place.search.PlaceNoteSearchActivity"
            android:exported="false"
            android:theme="@style/AnimationActivityTheme"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.features.place.detail.PlaceNoteDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.features.place.map.PlaceMapActivity"
            android:exported="false" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="aon1a380of" />

        <activity
            android:name=".ui.features.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.features.place.make.MakeOrModifyPlaceNoteActivity" />
        <activity
            android:name=".ui.features.map.NaverMapSearchActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.features.viewer.ImagesViewerActivity"
            android:theme="@style/StatusBarBlack" />
        <activity android:name=".ui.features.purchase.make.MakePurchaseNoteActivity" />
        <activity android:name=".ui.features.purchase.detail.PurchaseNoteDetailActivity" />
        <activity android:name=".ui.features.purchase.edit.EditPurchaseNoteActivity" />
        <activity android:name=".ui.features.purchase.search.PurchaseNoteSearchActivity" />

        <activity android:name=".ui.features.category.statistics.CategoryStatisticsActivity" />
        <activity android:name=".ui.features.purchase.statistics.PurchaseNoteStatisticsActivity" />
    </application>

</manifest>